@using System.Web.UI.WebControls
@using WebGrease.Css.Ast

 @Styles.Render("~/Content/yeti.min.css")
@Styles.Render("~/Content/bootstrap.css")
@Styles.Render("~/Content/JUMBOTRON.css")

        <meta charset="utf-8">
        <title>@ViewBag.Title</title>
        @RenderSection("meta", required: false)
        @RenderSection("Featured", required: false)
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="@Url.Action("Index", "Articles")">Energy Drink Exchange</a>
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_LoginPartial")
               
            
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="fadein">
                <img src="~/Content/drinks1.jpg" alt="Energy" />
                <img src="~/Content/drinks2.jpg" alt="Energy" />
                <img src="~/Content/MonsterDrinksMain.jpg" alt="Energy" />

            </div>
            <p><a class="btn btn-primary btn-lg" role="button" href="Home/About">Learn more </a></p>
        </div>
        </div>

    <div class="container">
      <!-- Example row of columns -->
    
              @RenderBody()
       



      <footer>
        <p>&copy; Company 2013</p>
      </footer>
     <!-- /container -->
       </div>
      
    <!-- Bootstrap core JavaScript
    ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
       @Scripts.Render("~/scripts/jquery-2.0.3.js") 
      @Scripts.Render("~/scripts/bootstrap.min.js")
      @Scripts.Render("~/scripts/knockout-3.0.0.js") 
       
   <script type ="text/javascript">
$(function () {
    $('.fadein img:gt(0)').hide();
    setInterval(function () {
        $('.fadein :first-child').fadeOut()
           .next('img').fadeIn()
           .end().appendTo('.fadein');
    },
      9000);
});
</script>
        @RenderSection("Scripts", required: false)

              

    
 
